* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


/*header Section*/

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('TAJ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/*Navigation Bar Section*/

nav {
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}


/*under Navigation there logo Section*/

nav .logo {
    width: 25%;
    text-align: center;
}

nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}


/*In Nav menu A tags*/

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


/*First Child set to color*/

nav .menu a:first-child {
    color: #00b894;
}


/*Main Section Code*/

main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


/*in Section heading 3*/

section h3 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section h1 {
    margin: 30px 0 20px 0;
    font-weight: 700;
    text-shadow: 2px 1px 2px black;
    text-transform: uppercase;
}

section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}

section .btnone {
    background: #ffffff;
    color: black;
}

.btnone:hover {
    background: #00b894;
    color: white;
}

section .btntwo {
    background: #00b894;
    color: white;
}

.btntwo:hover {
    background: #ffffff;
    color: black;
}

.change_content:after {
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext {
    0% {
        content: "Darjeeling";
    }
    20% {
        content: "Aurangabad";
    }
    35% {
        content: "Jaipur";
    }
    60% {
        content: "Delhi";
    }
    80% {
        content: "Mumbai";
    }
    100% {
        content: "Agra";
    }
}